body {
    min-width: 512px;
}


.filter-container {
    height: 66%;
    width: 100%;
    min-width: 720px;
    max-width: 1080px;
    font-size: 16px;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.filter-container::-webkit-scrollbar {
    display: none;
}

.layer-entry {
    border: 2px solid white;
    width: 50%;
    display: flex;
    flex-direction: column;

    padding: 4px 0 4px 0;

    margin-bottom: 16px;
    background-color: #00000055;

}

.btn {
    border: 2px solid white;
    background-color: #00000000;
    color: white;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-add {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 18px;
}

.btn-edit {
    width: 24px;
    height: 24px;
    background-color: white;
    margin-left: 8px;

    background: url(../img/icon_settings.png);
    background-size: cover;
    /* background-color: mediumorchid; */
}
.btn-edit:hover {
    cursor: pointer;
}

.btn-save {
    height: 32px;
    width: 128px;
    padding: 0;
}

.divider {
    border-bottom: 1px solid white;
    margin: 0 8px 0 8px;
}

.panel {
    display: flex;
    justify-content: space-between;
    margin: 4px 8px 4px 8px;
    /* background-color: mediumspringgreen; */
}

.line {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* margin: 0px 8px 0px 8px; */
    flex-grow: 1;
    /* background-color: aqua; */
}

.dropdown {    
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: right;
    overflow: scroll;
    
    text-align: right;
    margin-right: -32px;
    
    /* animated */
    transition: 200ms ease;
    max-height: 0px;
    margin-top: 0px;
    border-bottom: 1px solid #00000000;
}
.expand {
    /* animated */
    max-height: 150px;
    margin-top: 12px;
    /* border-bottom: 1px solid white; */
}
.dropdown::-webkit-scrollbar {
    display: none;
}

.dropdown-entry {
    padding: 4px 32px 4px 0px;
    
    /* animated */
    transition: 200ms;
    /* border-bottom: 1px solid #ffffff10; */
    background-color: #00000055;
}
.dropdown-entry:hover {
    /* background-color: #ffffff20; */
    cursor: pointer;
}
.selected {
    background-color: #00ffa033;
}



.label {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;

    /* background-color: #f05; */
}