<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>sample</title>
  
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/font.css">
  <link rel="stylesheet" href="../css/background.css">

  <script defer src="../../code/ui/mainScreen.js"></script>
</head>

<body>

  <div id="settings-screen" class="hidden">
    <div>
      token
      <input type="token" id="input_token">
    </div>
  </div>

  <div id="screen-main">

    <button id="btn-settings">settings</button>
    <br><br>

    <div id="sample-view" class="centered-flex">
      <div class="sample-input">
        START
        <input type="text" id="input_start_x" class="field">
        <input type="text" id="input_start_y" class="field">
      </div>
      
      <div class="sample-input">
        END
        <input type="text" id="input_end_x" class="field">
        <input type="text" id="input_end_y" class="field">
      </div>

      <div class="sample-input">
        ZOOM
        <input type="text" id="input_zoom" class="field">
      </div>
    </div>

    <div id="load-view" class="centered-flex">
      <button id="btn-load" class="button field smooth">LOAD</button>
      
      <div id="progress-bar" class="field">
        <div id="progress-bar-fill"></div>
      </div>
    </div>
    
  </div>

</body>
</html>