<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>vectile-map-loader</title>
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/filters.css">
    <link rel="stylesheet" href="../css/background.css">
</head>

<body>
    <div id="filters">
        
        <div class="panel">
            <span class="label">type</span> 
            <div class="separator"></div>
            <span class="label">industrial</span>
        </div>

        <div class="panel">
            <span class="label">type</span> 
            <div class="separator"></div>
            <span class="label">industrial</span>
        </div>

        <div class="panel">
            <span class="label">type</span> 
            <div class="separator"></div>
            <span class="label">industrial</span>
        </div>

        <div class="panel">
            <span class="label">type</span> 
            <div class="separator"></div>
            <span class="label">industrial</span>
        </div>

    </div>

</body>

</html>