<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>settings dynamic</title>
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/filters.css">
    <link rel="stylesheet" href="../css/background.css">
    <link rel="stylesheet" href="../css/panel.css">
    <link rel="stylesheet" href="../css/icons.css">

    <script defer src="../../code/ui/settingsScreenDynamic.js"></script>
</head>

<body style="color: white;">
    <div id="filters" class="filter-container"></div>
    
    <icon class="icon-done green"></icon>
    <icon class="icon-upload orange"></icon>
    <icon class="icon-warning red"></icon>
    <icon class="icon-locked gray"></icon>

    <button class="btn btn-add">+</button>
    
    <hr style="width: 66%;">
    <button id="btn-save" class="btn btn-save">SAVE</button>
</body>


<template id="panel-template">
    <div 
        class="panel"
        
        id='panel' 
        multiselect="false"
        locked="false"
        
        filter=""
        panelname=""
        value="">
        
        <div class="line">
            <span class="label">
                <key id="key"></key>
                <value id="value"></value>
            </span>
            <div 
                id="dropdown" 
                class="dropdown" 
                expand="false"
                sourcelist=""></div>
        </div>
        
        <button 
            id="btn-edit" 
            class="btn-edit" 
            ref="null"
            onClick="onEdit(this)">
        </button>
    </div>
</template>

<template id="dropdown-entry-template">
    <span class="dropdown-entry"
        selected="false"
        value="null"
        onClick="onEntrySelected(this)"></span>
</template>

<template id="filter-entry-template">
    <div 
        id="filter-entry" 
        class="layer-entry"
        
        layer=""
        geometry=""
        key=""
        value=""></div>
</template>


</html>