<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>settings</title>
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/filters.css">
    <link rel="stylesheet" href="../css/background.css">
    <link rel="stylesheet" href="../css/panel.css">

    <script defer src="../../code/ui/settingsScreen.js"></script>
</head>

<body style="color: white;">
    <div id="filters" class="filter-container">
        
        <div class="layer-entry" style="flex-direction: column;">
            <div class="panel">
                <span class="label">layer</span>
                <span class="label">{layer}<div class="btn-edit"></div></span>
            </div>
            <div class="panel">
                <span class="label">geometry</span>
                <span class="label">{type}<div class="btn-edit"></div></span>
            </div>
            <div class="panel">
                <span class="label">key</span>
                <span class="label">{key}<div class="btn-edit"></div></span>
            </div>
            <div class="panel">
                <span class="label">value</span>
                <span class="label">{value}<div class="btn-edit"></div></span>
            </div>
        </div>

        <div class="btn-add">+</div>

    </div>

    <hr style="width: 66%;">
    <button id="btn-save" class="btn-save">SAVE</button>

</body>

<template id="filter-value-template">
    <span>
        <input id="filter-value" type="text">
        <button>---</button>
        <br>
    </span>
</template>

<template id="filter-entry-template">
    <div id="filter-entry" class="filter-entry">
        layername <br><input id="filter-layer" type="text"><br>
        <div>
            geometry type <br><input id="geometry-type" type="text"><br>
            key <br><input id="filter-key" type="text"><br>
            values <br><div id="filter-values"></div>
            <button>++</button>
        </div>
        <br>
        <br>
    </div>
</template>

</html>